#content {
	padding-top:110px;
}

.strip
{
	width: 100%;
	background: url(/static/images/strip.png);
	background-size: 100% 4px;
	background-repeat: repeat-x;
	padding-top: 4px;
}

footer {
	left:50%;
	position:absolute;
	margin-top: 72px;
	margin-left:-256px;
	width:512px;
}

address {
	width:512px;
	height:0px;
	margin:0;
	padding:64px 0 0 0;
	background: url(/static/images/address.png);
	overflow:hidden;
	margin-bottom: 48px;
}

.brand
{
	padding-left:0 !important;
	padding-right:0 !important;
}

.logo {
	width:300px;
	height:0px;
	margin:8px;
	padding: 55px 0 0 0;
	background: url(/static/images/logo.png);
	overflow: hidden
}

.gnb {
	padding-top: 30px;
}

.gnb>li {
	height:40px;
	padding: 0;
}

.gnb>li>a {
	height:0;
	padding: 40px 0 0 0 !important;
	overflow: hidden;
}

.nav-home{width:54px; background: url(/static/images/nav.png); background-position:0px 0;}
.active>.nav-home{background: url(/static/images/nav_active.png); background-position:0px 0;}

.nav-info{width:106px; background: url(/static/images/nav.png); background-position:-54px 0;}
.active>.nav-info{background: url(/static/images/nav_active.png); background-position:-54px 0;}

.nav-admission{width:103px; background: url(/static/images/nav.png); background-position:-160px 0;}
.active>.nav-admission{background: url(/static/images/nav_active.png); background-position:-160px 0;}

.nav-guide{width:105px; background: url(/static/images/nav.png); background-position:-263px 0;}
.active>.nav-guide{background: url(/static/images/nav_active.png); background-position:-263px 0;}

.nav-sponsors{width:61px; background: url(/static/images/nav.png); background-position:-368px 0;}
.active>.nav-sponsors{background: url(/static/images/nav_active.png); background-position:-368px 0;}

.nav-volunteers{width:99px; background: url(/static/images/nav.png); background-position:-429px 0;}
.active>.nav-volunteers{background: url(/static/images/nav_active.png); background-position:-429px 0;}

.nav-map{width:112px; background: url(/static/images/nav.png); background-position:-528px 0;}
.active>.nav-map{background: url(/static/images/nav_active.png); background-position:-528px 0;}
