
@media (min-width: 980px)
{
	#content {
		padding-top:128px;
	}
}

.strip
{
	width: 100%;
	background: url(/static/images/strip.png);
	background-size: 100% 4px;
	background-repeat: no-repeat;
	background-position: cetner top;
	padding-top: 4px;
}

footer {
	left:50%;
	position:absolute;
	margin-top: 72px;
	margin-left:-256px;
	width:512px;
}

address {
	width:512px;
	height:0px;
	margin:0;
	padding:64px 0 0 0;
	background: url(/static/images/address.png);
	overflow:hidden;
	margin-bottom: 48px;
}

.logo {
	width:300px;
	height:0px;
	margin:8px;
	padding: 55px 0 0 0;
	background: url(/static/images/logo.png);
	overflow: hidden
}

.nav {
	padding-top: 30px;
}

/*
.nav>li {
	height:40px;
	padding: 0;
}

.nav>li>a {
	height:0;
	padding: 40px 0 0 0 !important;
	overflow: hidden;
}

.nav-home{width:100px; background: url(/static/images/logo.png);}
.active>.nav-home{background: url(/static/images/logo.png);}
*/