{% extends "layout.html" %}
{% block title %}시설 입소 안내{% endblock %}

{% block content %}
<div class="page-header">
	<h1>입소 안내</h1>
</div>

<p class="lead">하나인장애인주간보호센터는 장애인 가족들의 안정된 경제, 사회생활을 영위하도록 하며,
다양한 교육 프로그램을 통해
장애인 이용자의 일상 생활 및 사회 적응 능력 향상과 체험 학습을 지원합니다.</p>

<div class="row">
	<div class="span6">
		<h3>등록 절차</h3>
		<ol>
			<li>초기 상담 : 전화, 내방, 가정 방문</li>
			<li>보호자 내방 : 이용자 및 보호자가 직접 내방, 이용 여부 관련 상담, 이용 관련 서류 작성</li>
			<li>판정 회의 : 이용자 이용 결정 및 이용 시기 자체 판정</li>
			<li>개별 통보 : 이용 여부 통보</li>
		</ol>

		<h3>입소 서류</h3>
		<ol>
			<li>장애인 등록증 사본 1부</li>
			<li>건강진단서 1통 (지역 보건소 발행, 폐결핵, 간염, 피부병, 질병 유무 확인)</li>
			<li>주민등록등본(대상자, 보호자) 각 1통</li>
			<li>건강보험카드 사본 1통</li>
			<li>반명함판 사진 1장</li>
			<li>국민기초생활수급권 증명서(단, 해당자에 한함) 1통</li>	
		</ol>
	</div>
	<div class="span6">
		<h3>이용 정보</h3>
		<ul>
			<li>대상 : 인근 거주 등록 장애인 만 14세 ~ 만 35세, 중증 지적장애 및 발달장애인</li>
			<li>요일 : 매주 월요일~금요일</li>
			<li>시간 : 오전 9:00
		</ul>

		<h3>이용료</h3>
		<ol>
			<li>반일반 : 9:00~13:00, 이용료 7만원, 차량비 별도</li>
			<li>종일반 : 9:00~18:00, 이용료 12만원, 중식비 7만원, 간식비 1만원, 차량비 별도</li>
		</ol>
	</div>
</div>

{% endblock %}