{% extends "layout.html" %}
{% block title %}홈{% endblock %}

{% block head %}
<link href="/static/stylesheets/home.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<header class="hero-unit">
  <div class="hero-text">
    <h1>하나인장애인주간보호센터</h1>
    <p>장애인의 성공적 재활, 지역 사회와의 나눔과 동행</p>
  </div>
</header>

<div class="row">
  <div class="home-left">
    <div class="home-button home-button-admission">
      <a href="/admission">입소 안내</a>
    </div>
    <div class="home-button home-button-cafe">
      <a href="http://cafe.naver.com/hanaindaycare">네이버 카페</a>
    </div>
  </div>
  <div class="home-center">
    <div class="home-button home-button-guide">
      <a href="/guide">시설 소개</a>
    </div>
    <div class="simpleSlide-window" rel="1">
        <div class="simpleSlide-tray" rel="1">
            <div class="simpleSlide-slide" rel="1">
              <img src="/static/images/home0.png" />
            </div>
            <div class="simpleSlide-slide" rel="1">
              <img src="/static/images/home1.png" />
            </div>
            <div class="simpleSlide-slide" rel="1">
              <img src="/static/images/home2.png" />
            </div>
            <div class="simpleSlide-slide" rel="1">
              <img src="/static/images/home3.png" />
            </div>
        </div>
    </div>
  </div>
  <div class="home-right">
    <div class="home-button home-button-sponsors">
      <a href="/sponsors">후원 안내</a>
    </div>
    <div class="home-button home-button-volunteers">
      <a href="/volunteers">자원봉사</a>
    </div>
    <div class="home-button home-button-map">
      <a href="/map">오시는 길</a>
    </div>
  </div>
</div>

<script src="/static/lib/jquery.simpleSlide_min.js"></script>
<script>
$(document).ready( function() {
  simpleSlide();
});
</script>

{% endblock %}
