{% extends "layout.html" %}
{% block title %}오시는 길{% endblock %}

{% block head %}
<link href="/static/stylesheets/map.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>오시는 길 <small>광진구 능동로59길 14</small></h1>
</div>


<div class="row row-map">
	<img src="/static/images/map.png" class="img-polaroid img-map" />
</div>
<div class="row">
	<div class="span4">
		<h2>버스</h2>
		<ul>
			<li>2012번 : 신내동-동대문운동장, 용암사 입구에서 하차</li>
			<li>2013번 : 면목동-종로5가, 기존 19번 노선, 중곡3동 주민센터 앞에서 하차</li>
			<li>2219번 : 중곡동-신설동, 용곡삼거리 정류장에서 하차</li>
			<li>2227번 : 중랑공영차고지-중곡역 운행, 용암사입구 또는 중곡역 정류장에서 하차</li>
			<li>3215번 : 장지동-청량리간 운행, 중곡3동 주민센터 앞에서 하차</li>
			<li>4212번 : 사당동-중곡1동, 기존 567번 노선, 용마사거리에서 하차</li>
			<li>70번 : 상봉동-성남, 용곡사거리에서 하차</li>
		</ul>
	</div>
	<div class="span4">
		<h2>지하철</h2>
		<ul>
			<li>7호선 중곡역 3번 출구에서 200m</li>
			<li>7호선 용마산역 3번 출구</li>
		</ul>
	</div>
	<div class="span4">
		<h2>자가용</h2>
		<p>서울시 광진구 능동로59길 14 하나인장애인주간보호센터</p>
		<p>한국중앙교회 맞은편에 있습니다.</p>
	</div>
</div>

{% endblock %}