{% extends "layout.html" %}
{% block title %}후원{% endblock %}

{% block content %}
<div class="page-header">
  <h1>후원 <small>희망의 후원에 동참해 주세요</small></h1>
</div>

<ul class="nav nav-tabs" id="sponsorsTab">
  <li><a href="#sponsors-info" data-toggle="tab">후원 안내</a></li>
  <li><a href="#sponsors-list" data-toggle"tab">후원자 명단</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="sponsors-info">
  </div>
  <div class="tab-pane" id="sponsors-list">
  </div>
</div>

<script>
  $(function () {
    $('#sponsorsTab a:first').tab('show');
  });

  $('#sponsorsTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
</script>



{% endblock %}